.config/
.idea/
.ipynb_checkpoints/
.landscape/
.ssh/
__pycache__/
data/
hist/
lib/
literature/
output_tables/
overleaf/
plots/
previous_scripts/
venv/
.bash_history
.motd_shown
michael.tsesmelis@gpulogin.lambda.armasuisse.ch
testing.py

